.access{
    text-align: center;
    margin-top: 5rem;
}

/* .access h1{
   color: hsl(210, 10%, 33%);
} */

.access p{
    width: 40%;
    color: hsl(201, 11%, 66%);
    margin: 1rem auto;
}

.access img{
    margin: 4rem auto;
}

@media (max-width: 768px){
    .access p{
        width: 80%;
    }
}